---
layout: default
title: MG | UX
---


  <div class="pageWrapper">
    <div class="pageContainer">

      {% include nav.html %}

      <div class="introContainer">
        <div class="introGrid">
          <h1 class="name"> Michael Goldkamp</h1>
          <p class="introPara">UX Designer striving to create intuitive product interactions that allow users to accomplish their goals and experience delight along the way.


          </p>
          <a href="work/circle.html">
          <button class="cta">
            Check Out My Work
          </button>
          </a>
          <a href="about.html">
            <button class="cta secondary">
              Learn About Me
            </button>
          </a>
        </div>
      </div>

      {% include projectTiles.html %}




    </div>
  </div>
