<div class="projectsContainer">
  <a href="work/1-circle.html" class="circleHome">
    <img src="images/circle-logo.png" alt="" class="projectThumbnail">
    <div class="projectdescription">
      <h1 class="projectName">Circle</h1>
      <h3 class="subhead">Mobile App for Moms</h3>
      <span class="categoryItem">UX</span> + <span class="categoryItem">Visual Design</span>
    </div>
  </a>
</div>

<div class="projectsContainer">
  <a href="work/2-xinuos.html" class="xinuosHome">
    <img src="images/opencommander-logo.png" alt="" class="projectThumbnail">
    <div class="projectdescription">
      <h1 class="projectName">Open Commander</h1>
      <h3 class="subhead">Browser Based Server Managment</h3>
      <span class="categoryItem">User Testing</span> + <span class="categoryItem">UX</span> + <span class="categoryItem">Visual Design</span>
    </div>

  </a>
</div>

<div class="projectsContainer">
  <a href="work/3-cbbain.html" class="bainHome">
    <img src="images/cb-logo.png" alt="" class="projectThumbnail">
    <div class="projectdescription">
      <h1 class="projectName">Coldwell Banker Bain</h1>
      <h3 class="subhead">Real Estate Search</h3>
      <span class="categoryItem">UX</span> + <span class="categoryItem">Visual Design</span>
    </div>
  </a>
</div>

<div class="projectsContainer">
  <a href="work/4-haikudeck.html" class="haikuHome">
    <img src="images/haiku-deck-logo.png" alt="" class="projectThumbnail">
    <div class="projectdescription">
      <h1 class="projectName">Haiku Deck</h1>
      <h3 class="subhead">Presentation Playback</h3>
      <span class="categoryItem">UX</span> + <span class="categoryItem">Visual Design</span>
    </div>
  </a>
</div>

<div class="projectsContainer">
  <a href="work/5-wireme.html" class="wiremeHome">
    <img src="images/wireme-logo.png" alt="" class="projectThumbnail">
    <div class="projectdescription">
      <h1 class="projectName">Wire.me</h1>
      <h3 class="subhead">Branding for Monetized Messaging</h3>
      <span class="categoryItem">Visual Design</span>
    </div>
  </a>
</div>

<div class="projectsContainer">
  <a href="work/6-callcontrol.html" class="wiremeHome">
    <img src="images/callcontrol-logo.png" alt="" class="projectThumbnail">
    <div class="projectdescription">
      <h1 class="projectName">Call Control</h1>
      <h3 class="subhead">Marketing Site for Spam Blocking App</h3>
      <span class="categoryItem">UX</span> + <span class="categoryItem">Visual Design</span>
    </div>
  </a>
</div>


<!-- <div class="projectsContainer">
  <a href="#" class="societyHome">
    <img src="http://placehold.it/500x200" alt="" class="projectThumbnail">
    <div class="projectdescription">
      <h1 class="projectName">Society Consulting</h1>
      <h3 class="subhead">Big Data Marketing Site</h3>
      <span class="categoryItem">Visual Design</span>
    </div>
  </a>
</div> -->
