<div class="projectsContainer">
  <a href="work/circle.html" class="circleHome">
    <img src="images/circle-logo.png" alt="" class="projectThumbnail">
    <div class="projectdescription">
      <h1 class="projectName">Circle</h1>
      <h3 class="subhead">Mobile App for Moms</h3>
      <span class="categoryItem">UX</span> + <span class="categoryItem">Visual Design</span>
    </div>
  </a>
</div>

<div class="projectsContainer">
  <a href="work/xinuos.html" class="xinuosHome">
    <img src="images/opencommander-logo.png" alt="" class="projectThumbnail">
    <div class="projectdescription">
      <h1 class="projectName">Open Commander</h1>
      <h3 class="subhead">Browser Based Server Managment</h3>
      <span class="categoryItem">User Testing</span> + <span class="categoryItem">UX</span> + <span class="categoryItem">Visual Design</span>
    </div>

  </a>
</div>

<div class="projectsContainer">
  <a href="work/cbbain.html" class="bainHome">
    <img src="images/cb-logo.png" alt="" class="projectThumbnail">
    <div class="projectdescription">
      <h1 class="projectName">Coldwell Banker Bain</h1>
      <h3 class="subhead">Real Estate Search</h3>
      <span class="categoryItem">UX</span> + <span class="categoryItem">Visual Design</span>
    </div>
  </a>
</div>

<div class="projectsContainer">
  <a href="work/wireme.html" class="wiremeHome">
    <img src="images/wireme-logo.png" alt="" class="projectThumbnail">
    <div class="projectdescription">
      <h1 class="projectName">Wire.me</h1>
      <h3 class="subhead">Branding for Monetized Messaging</h3>
      <span class="categoryItem">Visual Design</span>
    </div>
  </a>
</div>

<!-- <div class="projectsContainer">
  <a href="#" class="haikuHome">
    <img src="http://placehold.it/500x200" alt="" class="projectThumbnail">
    <div class="projectdescription">
      <h1 class="projectName">Haiku Deck</h1>
      <h3 class="subhead">Presentation Playback Page</h3>
      <span class="categoryItem">UX</span> + <span class="categoryItem">Visual Design</span>
    </div>
  </a>
</div>

<div class="projectsContainer">
  <a href="#" class="societyHome">
    <img src="http://placehold.it/500x200" alt="" class="projectThumbnail">
    <div class="projectdescription">
      <h1 class="projectName">Society Consulting</h1>
      <h3 class="subhead">Big Data Marketing Site</h3>
      <span class="categoryItem">Visual Design</span>
    </div>
  </a>
</div> -->
