<div class="project-grid">

  <a href="work/1-circle.html" class="grid-circleHome">
    <div class="grid-Large grid-projectContainer circle">

      <div class="grid-projectdescription">
        <h1 class="grid-projectName">Circle</h1>
        <h3 class="grid-subhead">Mobile App for Moms</h3>
        <span class="grid-categoryItem">UX</span> <span class="grid-categoryItem">Visual Design</span>
      </div>

    </div>
  </a>


  <a href="work/1-circle.html" class="grid-circleHome">
    <div class="grid-Small grid-projectContainer dicks">

        <div class="grid-projectdescription">
          <h1 class="grid-projectName">Dick's Sporting Goods</h1>
          <h3 class="grid-subhead">Sporting Equipment and Apparel  Navigation</h3>
          <span class="grid-categoryItem">UX</span>
        </div>

    </div>
  </a>

  <a href="work/1-circle.html" class="grid-circleHome">
    <div class="grid-Small grid-projectContainer openCommander">

        <div class="grid-projectdescription">
          <h1 class="grid-projectName">OpenCommander</h1>
          <h3 class="grid-subhead">Browser Based Server Managment  Navigation</h3>
          <span class="grid-categoryItem">UX</span> <span class="grid-categoryItem">Visual Design</span>
        </div>

    </div>
  </a>


  <a href="work/1-circle.html" class="grid-circleHome">
    <div class="grid-Large grid-projectContainer cbBain">

        <div class="grid-projectdescription">
          <h1 class="grid-projectName">Coldwell Banker Bain</h1>
          <h3 class="grid-subhead">Real Estate Search</h3>
          <span class="grid-categoryItem">User Testing</span> <span class="grid-categoryItem">UX</span> <span class="grid-categoryItem">Visual Design</span>
        </div>

    </div>
  </a>


  <a href="work/1-circle.html" class="">
    <div class="grid-Large grid-projectContainer haikuDeck">

      <div class="grid-projectdescription">
        <h1 class="grid-projectName">Haiku Deck</h1>
        <h3 class="grid-subhead">Presentation Playback</h3>
        <span class="grid-categoryItem">Visual Design</span> <span class="grid-categoryItem">UX</span>
      </div>

    </div>
  </a>


  <a href="work/1-circle.html" class="">
    <div class="grid-Small grid-projectContainer wireMe">

      <div class="grid-projectdescription">
        <h1 class="grid-projectName">Wire.me</h1>
        <h3 class="grid-subhead">Branding for Monetized Messaging</h3>
        <span class="grid-categoryItem">Visual Design</span>
      </div>

    </div>
  </a>

</div>
