<div class="project-grid">

  <div class="grid-Large grid-projectContainer">
    <a href="work/1-circle.html" class="grid-circleHome">

      <div class="grid-projectdescription">
        <h1 class="grid-projectName">Circle</h1>
        <h3 class="grid-subhead">Mobile App for Moms</h3>
        <span class="grid-categoryItem">UX</span> + <span class="grid-categoryItem">Visual Design</span>
      </div>
    </a>
  </div>

  <div class="grid-Small grid-projectContainer">
    <a href="work/1-circle.html" class="grid-circleHome">

      <div class="grid-projectdescription">
        <h1 class="grid-projectName">Dick's Sporting Goods</h1>
        <h3 class="grid-subhead">Sport Navigation</h3>
        <span class="grid-categoryItem">UX</span>
      </div>
    </a>
  </div>

  <div class="grid-Small grid-projectContainer">

      <div class="grid-projectdescription">
        <h1 class="grid-projectName">Circle</h1>
        <h3 class="grid-subhead">Mobile App for Moms</h3>
        <span class="grid-categoryItem">UX</span> + <span class="grid-categoryItem">Visual Design</span>
      </div>
    </a>
  </div>

  <div class="grid-Large grid-projectContainer">
    <a href="work/1-circle.html" class="grid-circleHome">

      <div class="grid-projectdescription">
        <h1 class="grid-projectName">Circle</h1>
        <h3 class="grid-subhead">Mobile App for Moms</h3>
        <span class="grid-categoryItem">UX</span> + <span class="grid-categoryItem">Visual Design</span>
      </div>
    </a>
  </div>

  <div class="grid-Large grid-projectContainer">
    <a href="work/1-circle.html" class="grid-circleHome">

      <div class="grid-projectdescription">
        <h1 class="grid-projectName">Circle</h1>
        <h3 class="grid-subhead">Mobile App for Moms</h3>
        <span class="grid-categoryItem">UX</span> + <span class="grid-categoryItem">Visual Design</span>
      </div>
    </a>
  </div>

  <div class="grid-Small grid-projectContainer">
    <a href="work/1-circle.html" class="grid-circleHome">

      <div class="grid-projectdescription">
        <h1 class="grid-projectName">Circle</h1>
        <h3 class="grid-subhead">Mobile App for Moms</h3>
        <span class="grid-categoryItem">UX</span> + <span class="grid-categoryItem">Visual Design</span>
      </div>
    </a>
  </div>

</div>
