



.introContainer{
  @include grid-container;
  margin-top: 120px;
}

.introGrid{
  @include grid-column(12);
  text-align: center;

}
.name{

  font-weight: 300;
  font-size: 60px;
  line-height: 1;
  letter-spacing: .8px;
  margin: 0;
  padding-bottom: 30px;
  }


  .introPara{
  font-weight: 400;
  line-height: 1.6;
  font-size: 18px;
  letter-spacing: .8px;
  width: 45%;
  margin: 0 auto;
  margin-bottom: 30px;

  }




.cta{
  padding: 15px;
  width: 200px;
  margin: 10px;
  margin-left: 0;
  border-radius: 4px;
  border: none;
  background-color: $primaryLight;

  font-weight: 600;
  @include transition(all .5s ease-in-out);

  a{
    text-decoration: none;
    color: white;
  }

  &:hover{
    background-color: $primaryDark;
  }

  &:visted{
    color: white;
  }
}

.secondary{
  background-color: rgba(256,256,256, .3);

  &:hover{
    background-color: rgba(256,256,256, .2);
  }
}


.projectsContainer{
  @include grid-container;
  margin-top: 150px;

  &:hover{
    .projectThumbnail{
      background-color: rgba(256,256,256, .6);

    }
    .projectName{
      color: $primaryDark;
    }
  }
}


.projectThumbnail{
  @include grid-column(8);
  background-color: white;
  @include transition(all .5s ease-in-out);


}


.projectdescription{
    @include grid-column(4);

}

.projectName{
  font-size: 60px;
  line-height: 1;
  margin: 0;
  font-weight: 300;
  margin-bottom: 15px;
  color: $primaryLight;
  @include transition(all .5s ease-in-out);


}

.subhead{
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 15px;
}


.project{
  margin-bottom: 80px;
}

.categoryItem{
  padding: 3px 7px;;
  background-color: white;
  color: #333;
  font-size: 12px;
  opacity: .4;
  line-height: 2;
}




// RESPONSIVE

@media (max-width: 990px) {

  .name{
    font-size: 72px;
  }
  .introPara{
    width: 100%;
  }

  .projectThumbnail{
    @include grid-column(12);
  }
  .projectdescription{
      @include grid-column(12);

  }
  .projectName{
    font-size: 40px;
    margin-top: 20px;
  }
}


@media (max-width: 400px) {

  .name{
    font-size: 36px;
  }
}
