.nav{
  width: 100%;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;



  li{
    display: inline-block;



    a{
      text-decoration: none;
      color: rgba(256,256,256,.4);
      font-size: 18px;
      padding: 30px;
      display: inline-block;

      &:hover{
        @include transition(all .5s ease-in-out);
        color: rgba(256,256,256,1);


      }
    }
  }
}

.brand{
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

.brandText{
  font-weight: 300;
  font-size: 20px;
}


@media (max-width: 400px) {

  .nav{
    li{
      a{
        padding: 20px 15px 60px 15px;

      }
    }

  }
}
