.sectionWrapper{
  @include grid-container;
  margin-top: 120px;
}

.workTemplate{
  .projectdescription{
    @include grid-column(8);
    @include grid-push(2);


  .projectName{
    color: white;

  }
  }
}




.workIntroPara{
  @include grid-column(8);
  @include grid-push(2);
  margin-top: 60px;
  margin-bottom: 60px;
}


.singlePhotoContainer{
  @include grid-container;

  img{
    @include grid-column(12);

  }
}
.imageSpace{
  clear:both;
  img{
  padding-top: 20px;

  }
}


.copyWrapper{
    @include grid-container;



}

.copyContainer{
  @include grid-column(8);
  @include grid-push(2);
  padding: 60px 0;
}


.twoPhotoContainer{
  @include grid-container;

}

.twoPhoto{
  @include grid-column(6);

}


.workNavigation{
  width: 100%;
  clear: both;

}

.nextPrevWrapper{
  text-align: center;
  padding-top: 30px;

}

.navBtn{
  display: inline-block;
  padding: 10px;
  background-color: rgba(256,256,256 , .4);
  width: 60px;
}

.pageNumber{
  text-align: center;
  color: rgba(256,256,256 , .1);
  margin-top: 20px;
  font-size: 100px;
  font-weight: 300;
}

.captionWrapper{
  position: relative;

}

.caption{
  position: absolute;
  bottom: px;
  left: 0px;
  padding-left: 20px;
  background-color: #252525;
  display: inline-block;
  padding: 10px 10px 10px 25px;
  font-size: 11px;
}

.prototypeLink{
  margin-top: 20px;
  display: inline-block;
}


@media (max-width: 800px) {

  .twoPhoto{
    @include grid-column(12);
    margin-bottom: 20px;
  }

  .copyContainer{
    @include grid-column(12);

  }

  .workIntroPara{
    @include grid-column(12);

  }
  .workTemplate{
    .projectdescription{
      @include grid-push(0);
      @include grid-column(12);
    }
  }

}
